@font-face {
	font-family: 'BodoniXT';
	src: local('BodoniXT'), url('./BodoniXT.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_23412">Text with this font applied</p> */
.fontsforweb_fontid_23412 {
	font-family: 'BodoniXT' !important;
}

/* Font downloaded from FontsForWeb.com */